.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.callout_button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_selector {
    max-height: 10vh;
    max-width: 10vh;
}