/* Filename: style.css
 * Description: main stylesheet for project friendship. stylesheet is broken up
 *				into sections to maintain order.
 */

/* 
 * General html elements go here.
 */
html, body {
	height: 100%;
}

/*
 * Reusable css classes goes here
 */
 .page {
 	padding: 0;
 	height: 100vh;
 }

/*
 * Navbar styling goes here
 */
 .logo {
    max-height: 40px;
}

/*
 * Homepage items go here
 */
 #landing-screen {
 	border: 1px solid red;
 }
