/* Filename: style.css
 * Description: main stylesheet for project friendship. stylesheet is broken up
 *				into sections to maintain order.
 */

/* 
 * General html elements go here.
 */
html, body {
	height: 100%;
}

/*
 * Reusable css classes goes here
 */
.link:hover{
	text-decoration: none;
	color: white;
	background-color: orange;
}

.link {
	color: black;
}

div.callout_button {
	/*border: 5px solid black;*/
}
.page {
	padding: 0;
 	height: 100vh;
}

/*
 * Navbar styling goes here
 */
.logo {
	max-height: 40px;
}

.bg-orange {
	background-color: orange !important;
}

/*
 * Homepage items go here
 */
 #landing-screen {
 	border: 1px solid red;
 }
