/* Filename: style.css
 * Description: main stylesheet for project friendship. stylesheet is broken up
 *				into sections to maintain order.
 */

/* The following numbers correspond to media breakpoints
 * 	sm: 576px
 *	md: 768px
 *	lg: 992px
 *	xl: 1200px
 */
 @font-face {
     font-family: 'Poppins';
     src: url('../assets/fonts/Poppins-Medium.woff2') format('woff2'),
         url('../assets/fonts/Poppins-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
 }

 @font-face {
     font-family: 'Poppins';
     src: url('../assets/fonts/Poppins-SemiBold.woff2') format('woff2'),
         url('../assets/fonts/Poppins-SemiBold.woff') format('woff');
     font-weight: 600;
     font-style: normal;
 }

 @font-face {
     font-family: 'Poppins';
     src: url('../assets/fonts/Poppins-Regular.woff2') format('woff2'),
         url('../assets/fonts/Poppins-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
 }

:root {
	--primary-color: #FF26A0;
	--secondary-color: #6F25E7;
}

/*
 * General html elements go here.
 */
html, body {
	font-family: "Poppins", sans-serif;
	height: 100%;
}

h1, h2 {
	color: var(--primary-color);
}

/*
 * Reusable css classes goes here
 */
/*.link {
	color: black;
}*/

.page {
	padding: 0;
 	height: 100vh;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height:10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slide:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--primary-color);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--primary-color);
	cursor: pointer;
}

.btn.cta-button {
	min-width: 200px;
}

.btn {
	border-radius: 200px;
	border: none;
	padding-top: 16px;
	padding-bottom: 16px;
	transition: .3s;
	margin: 10px;
}

.btn:hover {
	transform:translateY(-8px);
}

.btn-disabled {
	background: grey;
}

.btn-disabled:hover {
	cursor: default !important;
	transform: none !important;
}

.btn-primary {
	background: var(--primary-color);
}

.btn-primary:hover {
	background: var(--primary-color);
	box-shadow: 0 6px 20px -4px rgba(255,0,143,0.60);
}

.btn-secondary:hover {
	background: var(--secondary-color);
	box-shadow: 0 6px 20px -4px rgba(111,37,231,0.60);
}

.btn-secondary {
	background: var(--secondary-color);
}

.fa-user-circle{
	font-size: 7vw;
}

.row {
	/*border: 1px solid black;*/
}

.center-text {
	text-align: center;
}

.checked {
	color: var(--secondary-color);
}

.stars {
	padding-bottom: 15px;
}


/*
 * Navbar styling goes here
 */
.navbar {
	background: #FFFFFF;
	box-shadow: 0 1px 6px 0 rgba(0,0,0,0.20);
}

.nav-link {
	color: black !important;
	text-align: left; 	
}

.nav-link:hover {
	color: var(--primary-color) !important;
}

#nav-signin {
	color: var(--primary-color) !important;
}

#nav-signin:hover {
	color: var(--secondary-color) !important;
}

.logo {
	max-height: 40px;
}

@media (min-width: 768px) {
	.nav-hide {
		display: none !important;
	}
}

@media (max-width: 768px) {
	.nav-custom {
		display: none !important;
	}
}

.disabled {
	color: grey !important;
}

.disabled:hover {
	color: grey !important;
	cursor: default;
}


/*
 * Profile items go here
 */
.profilePic {
	height: 3em;
	width: 3em;
	border-radius: 50%;

}

/*
 *	Find items go here
 */ 
.card {
	max-width: 400px;
}
.card p {
	font-size: .95em;
}

.card img {
	align-self: center;
}

.card-footer {
	line-height: 2em;
}

.cardProfilePic {
	padding: 0px;
	height: 5em;
	width: 5em;
}

.tag {
	/*margin: 10px;*/
	color: var(--primary-color);
	font-size: .75em;
	font-weight: bold;
	background: rgba(0, 0, 0, 0);
	border-radius: 200px;
	border: 2px solid var(--primary-color);
	transition: .3s;
}

.tag:hover {
	color: white;
	text-decoration: none;
	background: var(--primary-color);
	cursor: pointer;
}

.tag-primary {
	background: var(--primary-color);
}

.tag-primary:hover {
	background: var(--primary-color);
	box-shadow: 0 6px 20px -4px rgba(255,0,143,0.60);
}
